#skin_wrapper {
  font-family: 'PT Sans', sans-serif;
}
a[rel~=nofollow]:not([class~=btn]):hover {
  background: transparent;
}
nav.sitewide_header {
  margin-bottom: 0;
}
#login_form input:focus:invalid:focus,
#login_form select:focus:invalid:focus,
#login_form textarea:focus:invalid:focus,
input:focus:invalid:focus,
select:focus:invalid:focus,
textarea:focus:invalid:focus,
.form-control:focus {
  box-shadow: none;
}
.navbar {
  border-radius: 0;
  margin: 0;
}
.navbar ul.nav {
  display: table;
  vertical-align: middle;
}
.navbar ul.nav li a {
  display: table-cell;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}
.navbar ul.nav li a:hover {
  background-color: transparent;
}
.navbar-header .navbar-toggle {
  margin-top: 18px;
}
.navbar-header h3 {
  margin-top: 18px;
  margin-bottom: 0;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar-header .navbar-logo h1 {
  margin: 0;
}
.navbar-header .navbar-logo h1 img {
  max-height: 60px;
}
@media (max-width: 767px) {
  .navbar-header {
    padding-left: 15px;
  }
}
.evo_container__page_top .ufld_icon_links {
  text-align: right;
}
.main_disp_front {
  margin: 2em 0;
}
.main_disp_404 .evo_widget {
  margin: 0;
}
.main_disp_access_denied {
  padding: 5em 0;
}
.main_disp_access_denied > p {
  font-size: 16px;
  margin: 0;
}
.main_disp_contacts .results,
.main_disp_users .results {
  margin: 2em 0;
}
.main_disp_contacts .results.panel,
.main_disp_users .results.panel {
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.main_disp_contacts .results .panel-heading,
.main_disp_users .results .panel-heading {
  border: 0;
  border-radius: 0;
}
.main_disp_contacts .results .panel-heading .panel-title,
.main_disp_users .results .panel-heading .panel-title {
  font-weight: 700;
  padding: 4px 0;
  text-transform: uppercase;
  text-align: center;
}
.main_disp_contacts .results .panel-heading .panel-title .close,
.main_disp_users .results .panel-heading .panel-title .close {
  display: none;
}
.main_disp_contacts .results .panel-heading .panel_heading_action_icons,
.main_disp_users .results .panel-heading .panel_heading_action_icons {
  margin-top: -2px;
}
.main_disp_contacts .results .panel-heading .panel_heading_action_icons .btn,
.main_disp_users .results .panel-heading .panel_heading_action_icons .btn {
  border-radius: 0;
}
.main_disp_contacts .results .panel-body,
.main_disp_users .results .panel-body {
  font-size: 16px;
  padding: 2em 0;
}
.main_disp_contacts .results .panel-body .form_text_input,
.main_disp_users .results .panel-body .form_text_input,
.main_disp_contacts .results .panel-body .form-group-sm select.form-control,
.main_disp_users .results .panel-body .form-group-sm select.form-control {
  border-radius: 0;
  box-shadow: none;
  height: 46px;
}
.main_disp_contacts .results .panel-body .control-buttons .btn,
.main_disp_users .results .panel-body .control-buttons .btn {
  border-radius: 0;
  margin: 0 0 5px;
  width: 100%;
}
.main_disp_contacts .results .panel-body .control-buttons .btn.btn-primary,
.main_disp_users .results .panel-body .control-buttons .btn.btn-primary {
  margin: 0;
}
.main_disp_contacts .results .panel-body .btn,
.main_disp_users .results .panel-body .btn {
  border-radius: 0;
}
.main_disp_contacts .results .table_scroll table.table tr td.firstcol.shrinkwrap a img,
.main_disp_users .results .table_scroll table.table tr td.firstcol.shrinkwrap a img,
.main_disp_contacts .results .table_scroll table.table tr td.firstcol.shrinkwrap span img,
.main_disp_users .results .table_scroll table.table tr td.firstcol.shrinkwrap span img {
  border-radius: 0;
}
.main_disp_contacts .results table.table,
.main_disp_users .results table.table {
  border-bottom: 0;
}
.main_disp_contacts .results .table-bordered > tbody > tr > td,
.main_disp_users .results .table-bordered > tbody > tr > td,
.main_disp_contacts .results .table-bordered > tbody > tr > th,
.main_disp_users .results .table-bordered > tbody > tr > th,
.main_disp_contacts .results .table-bordered > tfoot > tr > td,
.main_disp_users .results .table-bordered > tfoot > tr > td,
.main_disp_contacts .results .table-bordered > tfoot > tr > th,
.main_disp_users .results .table-bordered > tfoot > tr > th,
.main_disp_contacts .results .table-bordered > thead > tr > td,
.main_disp_users .results .table-bordered > thead > tr > td,
.main_disp_contacts .results .table-bordered > thead > tr > th,
.main_disp_users .results .table-bordered > thead > tr > th {
  border: 0;
  font-size: 16px;
}
.main_disp_contacts .results .panel-footer,
.main_disp_users .results .panel-footer {
  border: 0;
  border-radius: 0;
}
.main_disp_mediaidx h2 {
  font-size: 16px;
  font-weight: 700;
  margin: 2em 0 0;
  padding: 14px 15px;
  text-transform: uppercase;
  text-align: center;
}
.widget_core_user_login #login_form .form-group {
  margin: 0;
}
.widget_core_user_login #login_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_login #login_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_login #login_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_login .submit {
  font-size: 12px;
}
.widget_core_user_login .field_login_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_login .field_login_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_login .field_login_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
.widget_core_user_login .register_link {
  display: block;
  padding-top: 10px;
}
.widget_core_user_register #register_form .form-group {
  margin: 0;
}
.widget_core_user_register #register_form label {
  text-align: left;
  width: 160px;
  padding-left: 0;
}
.widget_core_user_register #register_form .controls {
  padding: 0;
  width: 100%;
}
.widget_core_user_register #register_form .form_text_input.form-control {
  width: 100%;
}
.widget_core_user_register .submit {
  font-size: 12px;
}
.widget_core_user_register .field_register_btn .panel {
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
.widget_core_user_register .field_register_btn .panel .panel-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.widget_core_user_register .field_register_btn .panel .panel-body #submit_login_form {
  margin-right: 10px;
}
ul.profile_tabs {
  margin: 0 2ex 2ex;
  position: relative;
  top: 1px;
}
.profile_avatar {
  float: right;
  padding: 10px;
  margin-left: 10px;
}
.form-horizontal .controls textarea.form-control {
  width: 100%;
}
input.search_field {
  margin-bottom: 0;
  display: inline-block;
}
form.search .search_options {
  width: 100%;
}
form.search .search_options .search_option input {
  margin-right: 5px;
}
form.search .search_options .search_option label {
  margin-bottom: 0;
  margin-top: 5px;
}
div.compact_search_form input.search_field {
  border-radius: 0;
  box-shadow: none;
  height: 46px;
  margin: 0;
  width: 100%;
}
div.compact_search_form .input-group-btn input {
  border-radius: 0;
  height: 46px;
}
div.extended_search_form {
  text-align: center;
  margin: 0 auto 2em auto;
  max-width: 530px;
}
div.extended_search_form .search_options {
  text-align: center;
}
div.extended_search_form .search_options .search_option {
  display: inline-block;
  margin-right: 10px;
}
table.catselect input#new_category_name {
  width: 98% !important;
}
label.control-label[for=post_title] {
  width: auto;
}
textarea.message_text {
  width: 95%;
}
.evo_comment_title a,
.pull-right .evo_comment_type {
  color: #337ab7;
}
.evo_post {
  margin-bottom: 2em;
}
.evo_post .small.text-muted {
  margin: 4px 0 10px;
}
.evo_post .small.text-muted a,
.evo_post .small.text-muted a .glyphicon {
  color: inherit;
}
main .well {
  margin-bottom: 0;
  padding: 25px 25px 15px;
}
.evo_hasbgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
div.bSideItem {
  background: #F7F5FA;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-shadow: 0 1px 0 #FFFFFF;
}
div.bSideItem h4 {
  margin-top: 0;
}
.skin-form .panel-body .panel {
  border: none;
  box-shadow: none;
}
.skin-form .panel-body .panel-body {
  padding: 0;
}
.skin-form .fieldset {
  margin: 0;
}
.skin-form .fieldset div.input {
  margin: 0;
}
.skin-form .control-buttons,
.skin-form div.input {
  padding: 0;
  width: 100%;
  text-align: center;
}
.evo_panel__login,
.evo_panel__lostpass,
.evo_panel__register,
.evo_panel__activation {
  min-width: 290px;
  margin: 1.5em auto auto;
}
.evo_panel__login .panel,
.evo_panel__lostpass .panel,
.evo_panel__register .panel,
.evo_panel__activation .panel {
  border: 0;
  box-shadow: none;
  margin: 2em 0 0;
}
.evo_panel__login .panel-heading,
.evo_panel__lostpass .panel-heading,
.evo_panel__register .panel-heading,
.evo_panel__activation .panel-heading {
  border: 0;
  border-radius: 0;
}
.evo_panel__login .panel-heading .panel-title,
.evo_panel__lostpass .panel-heading .panel-title,
.evo_panel__register .panel-heading .panel-title,
.evo_panel__activation .panel-heading .panel-title {
  font-weight: 700;
  padding: 4px 0;
  text-transform: uppercase;
  text-align: center;
}
.evo_panel__login .panel-heading .panel-title .close,
.evo_panel__lostpass .panel-heading .panel-title .close,
.evo_panel__register .panel-heading .panel-title .close,
.evo_panel__activation .panel-heading .panel-title .close {
  display: none;
}
.evo_panel__login .panel-body,
.evo_panel__lostpass .panel-body,
.evo_panel__register .panel-body,
.evo_panel__activation .panel-body {
  padding: 2em 0 0;
}
.evo_panel__login .panel-body .form_text_input,
.evo_panel__lostpass .panel-body .form_text_input,
.evo_panel__register .panel-body .form_text_input,
.evo_panel__activation .panel-body .form_text_input {
  border-radius: 0;
  box-shadow: none;
  height: 46px;
}
.evo_panel__login .panel-body .control-buttons .btn,
.evo_panel__lostpass .panel-body .control-buttons .btn,
.evo_panel__register .panel-body .control-buttons .btn,
.evo_panel__activation .panel-body .control-buttons .btn {
  border-radius: 0;
  margin: 0 0 5px;
  width: 100%;
}
.evo_panel__login .panel-body .control-buttons .btn.btn-primary,
.evo_panel__lostpass .panel-body .control-buttons .btn.btn-primary,
.evo_panel__register .panel-body .control-buttons .btn.btn-primary,
.evo_panel__activation .panel-body .control-buttons .btn.btn-primary {
  margin: 0;
}
.evo_panel__login {
  max-width: 400px;
}
.evo_panel__login label {
  display: none;
}
.evo_panel__login .evo_form__login .form-group {
  margin: 0;
  padding-bottom: 2em;
}
.evo_panel__login .evo_login_dialog_standard_link {
  margin: 0;
}
.evo_panel__login .evo_login_dialog_footer {
  margin: 10px 0 2em;
}
.evo_panel__lostpass {
  max-width: 400px;
}
.evo_panel__lostpass #ffield_x label {
  display: none;
}
.evo_panel__lostpass .panel .panel-body {
  padding-top: 0;
}
.evo_panel__lostpass .panel .panel-body .form-group {
  margin-bottom: 2em;
}
.evo_panel__lostpass .evo_login_dialog_standard_link {
  margin: 2em 0 0;
}
.evo_panel__lostpass .evo_login_dialog_footer {
  margin: 10px 0 2em;
}
.evo_panel__activation {
  max-width: 530px;
}
.evo_panel__activation #activateinfo_form .control-buttons {
  text-align: left;
}
.evo_panel__register {
  max-width: 400px;
}
.evo_panel__register .control-buttons {
  text-align: left;
}
.evo_panel__register .evo_form__register .form-group {
  margin-bottom: 2em;
}
.evo_panel__register .evo_form__register .form-group:not(.field_required) .control-buttons {
  margin: 0;
}
.evo_panel__register .evo_form__register .form-group input {
  width: 100% !important;
}
.evo_panel__register.register-disabled {
  width: 350px;
}
.evo_panel__register .form-control#country,
.evo_panel__register .form-control#u {
  width: 100%;
}
.evo_panel__register .evo_login_dialog_standard_link {
  margin: 2em 0 0;
}
.evo_panel__register .evo_login_dialog_footer {
  margin: 10px 0 2em;
}
.evo_form__login_links {
  padding: 0 5px;
  font-size: 92%;
}
.evo_form__login fieldset {
  margin-bottom: 20px;
}
.evo_form__login .controls {
  padding: 0;
  margin: 0;
  width: 100%;
}
.evo_form__login .control-buttons {
  margin-left: 0;
}
.evo_form__login input.form-control[type=text],
.evo_form__login input.form-control[type=password] {
  width: 100%;
}
.evo_form__login .btn {
  margin-top: 5px;
}
#login_form .control-buttons {
  text-align: left;
}
.standard_login_link {
  text-align: center;
  margin: 3em 0 1ex 0;
}
.form_footer_notes {
  margin-top: 0;
}
.pagination {
  margin: 0;
  padding-top: 5px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-radius: 3px 0 0 3px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-radius: 0 3px 3px 0;
}
.pagination.pagination_top {
  margin-top: 2em;
}
.pagination.pagination_bottom {
  margin-bottom: 2em;
}
div.action_messages,
div.log_container {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.evo_post_title {
  display: table;
  margin-top: -7px;
}
.evo_post_title h2 {
  display: table-cell;
  font-size: 46px;
  font-weight: 700;
  margin: 0;
  padding: 0 0 10px;
}
.evo_post_title .btn-group {
  display: table-cell;
  padding: 15px 0 10px 30px;
  vertical-align: middle;
}
.evo_post__excerpt {
  font-size: 16px;
}
.disp_posts .evo_content_block:first-child {
  margin-top: 2em;
}
.posts-cover-image {
  border-radius: 4px;
  margin: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.special-cover-image-wrapper {
  position: absolute;
  padding: 0;
}
.special-cover-image-wrapper #special-cover-image_bg_pos {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}
.special-cover-image-wrapper #special-cover-image_bg_pos.cover_center {
  background-position: center;
}
.special-cover-image-wrapper #special-cover-image_bg_pos.cover_top {
  background-position: top;
}
.special-cover-image-wrapper #special-cover-image_bg_pos.cover_bottom {
  background-position: bottom;
}
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #ffffff no-repeat center center;
}
.no-cover-image-container {
  background: #F5F5F5;
  border-radius: 4px;
  display: table;
  width: 100%;
  text-align: center;
}
.no-cover-image-container i {
  display: table-cell;
  vertical-align: middle;
  font-size: 28px;
  color: rgba(0, 0, 0, 0.25);
}
.disp_single #single-post-content-wrapper {
  padding: 0 40px;
}
.disp_single .fixed {
  position: fixed;
  top: 0;
  left: 0;
}
.disp_single html {
  height: 100%;
  box-sizing: border-box;
}
.disp_single body {
  position: relative;
  margin: 0;
  min-height: 100%;
}
.disp_single .evo_container__item_single {
  padding-bottom: 35px;
}
.disp_single .evo_post {
  margin: 0;
}
.disp_single .evo_post .evo_post_title h1 {
  font-size: 72px;
  font-weight: 700;
  margin: 25px 0;
}
.disp_single .evo_post .widget_core_item_content {
  font-size: 21px;
}
.disp_single .evo_post .widget_core_item_about_author {
  margin-top: 25px;
}
.disp_single .evo_post .widget_core_item_small_print,
.disp_single .evo_post .widget_core_item_about_author {
  color: #ccc;
  font-size: 20px;
}
.disp_single .evo_post .widget_core_item_small_print a,
.disp_single .evo_post .widget_core_item_about_author a {
  color: #ccc;
  text-decoration: underline;
}
.disp_single .evo_post .widget_core_item_small_print img,
.disp_single .evo_post .widget_core_item_about_author img {
  border-radius: 50%;
}
.disp_single .evo_post .widget_core_item_about_author .evo_avatar {
  margin: 0 15px 5px 0;
}
.disp_single .skin-footer-single {
  bottom: 0;
  left: 0;
  position: relative;
  right: 0;
}
.disp_single .sitewide_footer {
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  position: relative;
}
div.powered_by {
  padding: 1.5em;
  margin: 0;
}
div.powered_by img {
  background: #fefefe;
  border-radius: 3px;
  padding: 2px;
}
.skin-footer-content {
  padding: 15px;
}
.skin-footer-content > p {
  margin: 0;
  padding: 1.5em;
}
main .evo_widget,
.skin-footer-single .evo_widget {
  padding: 1.5em 0;
}
.evo_widget {
  font-size: 16px;
}
.evo_widget h3 {
  font-weight: 700;
  text-transform: uppercase;
}
.evo_widget > h3 {
  margin-top: 0;
}
.evo_widget ul,
.evo_widget ol {
  margin-bottom: 10px;
}
.evo_widget ul:last-child,
.evo_widget ol:last-child {
  margin-bottom: 0;
}
.evo_widget p:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 991px) {
  .special-cover-image-wrapper,
  .special-cover-image-wrapper.fixed {
    position: relative;
  }
  #single-post-content-wrapper {
    min-height: auto !important;
  }
  .disp_single .evo_post .evo_post_title h1 {
    font-size: 36px;
    font-weight: 700;
    margin: 25px 0;
  }
}
@media screen and (max-width: 767px) {
  .disp_single #single-post-content-wrapper {
    padding: 0 15px;
  }
}
